.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .cardChild {
    flex: 0 1 300px;
    margin: 5px;

    border: 8px solid red;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
  }
}